.student-details {
  .header {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;

    .name {
      margin-right: 1rem;
    }

    .short-name {
      color: #999;
    }
  }

  .mail {
    display: flex;
    flex-direction: row;

    .title {
      margin-right: 1rem;
    }

    .mail-address {
      color: #999;
    }
  }

  .career {
    display: flex;
    flex-direction: row;

    .title {
      margin-right: 1rem;
    }

    .career-name {
      color: #999;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}